<!-- your html code here -->
<hr/>
<div class="portfolio-container">
    <h3 class="pt-5">Portfolio</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur veniam iure eaque! Accusamus magnam, quibusdam facilis iusto cum placeat, voluptates maiores autem repellendus itaque eius quisquam quidem blanditiis quis maxime.</p>
    <div class="row">
        <div class="col-4">
            <div class="card rounded-0 border-0">
                <div class="card-body p-0">
                    <div class="grey-card"></div>
                    <h5 class="text-primary pt-3">Project Name</h5>
                    <p class="project-name-description">Lorem, ipsum dolor sit amet, consectetur adipisicing elit. Nam viverra eusimod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card rounded-0 border-0">
                <div class="card-body p-0">
                    <div class="grey-card"></div>
                    <h5 class="text-primary pt-3">Project Name</h5>
                    <p class="project-name-description">Lorem, ipsum dolor sit amet, consectetur adipisicing elit. Nam viverra eusimod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card rounded-0 border-0">
                <div class="card-body p-0">
                    <div class="grey-card"></div>
                    <h5 class="text-primary pt-3">Project Name</h5>
                    <p class="project-name-description">Lorem, ipsum dolor sit amet, consectetur adipisicing elit. Nam viverra eusimod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
    </div>
</div>